<!-- Formulario -->
<h1 style="color:Blue;">Ingreso de Productos</h1>
<br>
    <form action="/api/productos/guardar" method="post">
    <div class="form-group">
        <label for="timestamp"><b>TimeStamp</b></label>
        <input id="timestamp" class="form-control" type="text" name="timestamp">
    </div>
    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre">
    </div>
    <div class="form-group">
        <label for="descripcion"><b>descripcion</b></label>
        <input id="descripcion" class="form-control" type="text" name="descripcion">
    </div>
    <div class="form-group">
        <label for="codigo"><b>codigo</b></label>
        <input id="codigo" class="form-control" type="text" name="codigo">
    </div>
    <div class="form-group">
        <label for="foto"><b>foto</b></label>
        <input id="foto" class="form-control" type="text" name="foto">
    </div>
    <div class="form-group">
        <label for="precio"><b>precio</b></label>
        <input id="precio" class="form-control" type="text" name="precio">
    </div>
    <div class="form-group">
        <label for="stock"><b>stock</b></label>
        <input id="stock" class="form-control" type="text" name="stock">
    </div>
    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>
<!-- Final Formulario -->

